extends layout

block content
  main
    #intro-text
      span Simple Kitchen
      h3 Simple & Comforting 
        br
        | Recipes All Year Round
      p Pan-seared chicken, Grill shrimp, mac & cheese—need we say more?
      button.submit-buttton View Recipes
    #intro-image
      img(src="/images/louisiana-barbecued-shrimp.webp", alt="Louisiana Barbecued Shrimp")
