doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/styles.css")
    link(href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet")
  body
    header
      nav
        ul
          li
            a(href='/') Home
          li | 
          li
            a(href='#') Blog
          li(style="float: right")
            a(href='/register') Register

    block content

    footer
      | © Copyright 2021
