extends layout

block content
  h1 Registration List

  table.listing-table
    thead
      tr
        th Name
        th Email
        th Username
        th Hashed Password
    tbody
      each registrant in registrations
        tr
          td= registrant.name
          td= registrant.email
          td= registrant.username
          td= registrant.password
